$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #d3d3d3;
$font-color: #dfdfdf;
$white: #fff;
$blue: #00f;
$black: #000;
$cyangreen: #cff;

body {
  background-color: $background-color;
  color: $font-color;
}

h1 {
  color: $black;
  margin-left: 20px;
}

h5 {
  padding-left: 20px;
}

.box {
  border: 1px solid $white;
}

//Always set the map height explicitly to define the size of the div
//element that contains the map.
#map {
  height: 50%;
}

//Optional: Makes the sample page fill the window.
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#messages {
  border: 1px solid $font-color;
  max-height: 200px; // or height instead of max-height
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
 }
